.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
    background-image: url("../Images/latinatechies.com.png") no-repeat;
    /* vertical-align: top; */
    height: 28px;
    font-family: Arial;
    font-size: 12px;
    color: turquoise;
    font-weight: lighter;
    min-height: 0vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
  }

#image {
    height: 50px;
    width: 150px;
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    text-align: center;
}