.form {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    top: 50%;
    right: -25%;
    /* left: 40%; */
    opacity: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    border-color: transparent;
    width: 50%;
    margin-top: 100px;
}

.mainText {
    font-size: 35px;
    font-family: Marker Felt, fantasy;
    font-weight: bold;
    color: blue;
    font-style: italic;
    position: 
}
