html {
    background: url(Images/handShake.png) no-repeat center center fixed;
    background-size: cover;
}

.footer {
    font-family: Arial;
    font-size: 12px;
    color: blue;
    font-weight: lighter;
    text-align: center;
    vertical-align: top;

}

.footerimg {
    padding: 0px;
    margin: 0px;
    height: 45px;
}

.admin {
    text-align: right;
    background-color: gray;
    fill-opacity: .3;
    border: none;
}