.body {
    background: linear-gradient(to bottom, #ffffff -15%, #00ffff 200%);
    height: 100%;
    width: 100%;
    position: fixed;
    right: 150px;
    left: 0px;
    bottom: 0px;
    background-size: cover;
    z-index: -1;
}