.image {
    width: 250px;
    position: sticky;
    right: 0;
    height: 250px;
}

.text {
    font-family: Marker Felt, fantasy;
    font-weight: bold;
    color: blue;
    font-size: 2em;
}

.header {
    padding: 5px;
    text-align: center;
    background: transparent;
}

