.main {
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    right: 150px;
    top: 250px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    opacity: .7;
    overflow: auto;
}